@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-service {
    @apply shadow-lg flex flex-col gap-4 w-full border rounded p-4 border-slate-200 hover:border-slate-400 hover:bg-[#1e2c45] cursor-pointer transition-all ease-in duration-200 transform hover:scale-[1.05];
  }

  .pri-btn {
    @apply  border border-[#3654ff] hover:bg-[#3a6df0] px-4 py-2 rounded-full text-sm   transition-all ease-in duration-150 hover:opacity-75 gap-2;
  }

  .sec-btn {
    @apply  border border-slate-200 hover:bg-[#3a6df0] px-4 py-2 rounded-full text-sm   transition-all ease-in duration-150 hover:opacity-75 gap-2;
  }

}


* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/background.jpg");
  background-position: center center;
  width: auto;
  min-height: 100vh;
  padding: 50px;
  color: #fff;
}


#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  
}


.appLayout {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr;
  height: 89vh;
  background-color: #10121ba1;
  border-radius: 14px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.active {
  background-color: #0f111a1a;
  border-left: 2px solid #3a6df0;
  color: #3a6df0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}




